# Node
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Mac
.DS_Store

# Java/Maven
*.class
*.jar
*.war
*.ear
/target/

# Logs
*.log

# OS
Thumbs.db

# IntelliJ
.idea/
*.iml
out/

# Misc
*.swp
*.swo
deploy.sh
