<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>React Servlets</display-name>
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>com.example.ApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReactSPAServlet</servlet-name>
        <servlet-class>com.example.ReactSPAServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReactSPAServlet</servlet-name>
        <url-pattern>/employeereports</url-pattern>
        <url-pattern>/employeereports/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BOMUtilityUIServlet</servlet-name>
        <servlet-class>com.example.BOMUtilityUIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BOMUtilityUIServlet</servlet-name>
        <url-pattern>/bomutility</url-pattern>
        <url-pattern>/bomutility/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
    </welcome-file-list>
</web-app>
